/* -- Loading thingy --*/

.loading-container {
    width: 100%;
    height: 100%;
    min-height: 200px;
    /* Ensure visibility */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    /* Or #3a3a3a if specifically requested for BG, but user code had it on "drawing" class */
}

/* 
   User provided "drawing" class with #3a3a3a bg. 
   Assuming they want the spinner itself. The background might need to be adapted to the widget cards (white usually).
   The user CSS sets .drawing width/height to 100vw/100vh which is too big for a widget. 
   I will adapt it to fit the parent container.
*/

.loading-dot {
    border-radius: 100%;
    height: 10px;
    width: 10px;
    /* Indigo color */
    color: #6366f1;
    background-color: currentColor;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    /* Stronger Glow effect */
    filter: drop-shadow(0 0 5px currentColor) drop-shadow(0 0 10px currentColor);
    /* Scale 0.5 as requested previously */
    transform: scale(0.5);
    box-shadow:
        0px 40px 0px 0px currentColor,
        0px -40px 0px 0px currentColor,
        40px 0px 0px 0px currentColor,
        -40px 0px 0px 0px currentColor,
        40px 40px 0px 0px currentColor,
        -40px -40px 0px 0px currentColor,
        40px -40px 0px 0px currentColor,
        -40px 40px 0px 0px currentColor;
    /* Smoother animation */
    animation: load 2.5s infinite ease-in-out;
}

/* If the user specifically wants the dark look: */
.loading-container.dark-mode {
    background-color: #3a3a3a;
}

.loading-container.dark-mode .loading-dot {
    background-color: #ffffff;
    box-shadow:
        0px 40px 0px 0px #ffffff,
        0px -40px 0px 0px #ffffff,
        40px 0px 0px 0px #ffffff,
        -40px 0px 0px 0px #ffffff,
        40px 40px 0px 0px #ffffff,
        -40px -40px 0px 0px #ffffff,
        40px -40px 0px 0px #ffffff,
        -40px 40px 0px 0px #ffffff;
}

@keyframes load {
    0% {
        transform: translate(0px, 0px) rotate(0deg) scale(0.5);
        box-shadow: 0px 40px 0px 0px currentColor, 0px -40px 0px 0px currentColor, 40px 0px 0px 0px currentColor, -40px 0px 0px 0px currentColor,
            40px 40px 0px 0px currentColor, -40px -40px 0px 0px currentColor, 40px -40px 0px 0px currentColor, -40px 40px 0px 0px currentColor;
    }

    25% {
        box-shadow: 0px 40px 0px 0px currentColor, 0px -40px 0px 0px currentColor, 40px 0px 0px 0px currentColor, -40px 0px 0px 0px currentColor,
            -40px -40px 0px 0px currentColor, 40px 40px 0px 0px currentColor, -40px 40px 0px 0px currentColor, 40px -40px 0px 0px currentColor;
    }

    50% {
        box-shadow: 0px -40px 0px 0px currentColor, 0px 40px 0px 0px currentColor, -40px 0px 0px 0px currentColor, 40px 0px 0px 0px currentColor,
            -40px -40px 0px 0px currentColor, 40px 40px 0px 0px currentColor, -40px 40px 0px 0px currentColor, 40px -40px 0px 0px currentColor;
    }

    70% {
        box-shadow: 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor,
            0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor;
    }

    75% {
        box-shadow: 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor,
            0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor;
        height: 10px;
        width: 10px;
    }

    80% {
        transform: translate(0px, 0px) rotate(360deg) scale(0.5);
        box-shadow: 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor,
            0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor;
        background-color: currentColor;
        height: 40px;
        width: 40px;
    }

    85% {
        transform: translate(0px, 0px) rotate(360deg) scale(0.5);
        box-shadow: 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor,
            0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor;
        background-color: currentColor;
        height: 40px;
        width: 40px;
    }

    90% {
        transform: translate(0px, 0px) rotate(360deg) scale(0.5);
        box-shadow: 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor,
            0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor, 0px 0px 0px 0px currentColor;
        background-color: currentColor;
        height: 10px;
        width: 10px;
    }

    95% {
        box-shadow: 0px 40px 0px 0px currentColor, 0px -40px 0px 0px currentColor, 40px 0px 0px 0px currentColor, -40px 0px 0px 0px currentColor,
            40px 40px 0px 0px currentColor, -40px -40px 0px 0px currentColor, 40px -40px 0px 0px currentColor, -40px 40px 0px 0px currentColor;
    }

    100% {
        transform: rotate(360deg) scale(0.5);
        box-shadow: 0px 40px 0px 0px currentColor, 0px -40px 0px 0px currentColor, 40px 0px 0px 0px currentColor, -40px 0px 0px 0px currentColor,
            40px 40px 0px 0px currentColor, -40px -40px 0px 0px currentColor, 40px -40px 0px 0px currentColor, -40px 40px 0px 0px currentColor;
    }

}